<form [formGroup]="form" class="mx-auto mt-16 max-w-xl" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
    <hlm-form-field class="col-span-2">
      <label for="name" hlmLabel>Name</label>
      <input
        formControlName="name"
        class="w-full"
        name="name"
        hlmInput
        id="name"
        required
      />
    </hlm-form-field>

    <hlm-form-field class="col-span-2">
      <label for="description" hlmLabel>Description</label>
      <textarea
        formControlName="description"
        class="h-32 w-full"
        name="description"
        id="description"
        hlmInput
        required
      ></textarea>
    </hlm-form-field>

    <section>
      <label for="type" hlmLabel>Type</label>
      <brn-select
        class="mt-2 inline-block w-full"
        placeholder="Select a type"
        formControlName="type"
        id="type"
      >
        <hlm-select-trigger class="w-full">
          <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content>
          @for (type of types; track type) {
            <hlm-option [value]="type">{{ type }}</hlm-option>
          }
        </hlm-select-content>
      </brn-select>
    </section>

    <section>
      <label for="technology" hlmLabel>Technology</label>
      <brn-select
        placeholder="Select a technology"
        class="mt-2 inline-block w-full"
        formControlName="technology"
        id="technology"
      >
        <hlm-select-trigger class="w-full">
          <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content>
          @for (technology of technologies; track technology) {
            <hlm-option [value]="technology">{{ technology }}</hlm-option>
          }
        </hlm-select-content>
      </brn-select>
    </section>

    <hlm-form-field class="col-span-2">
      <label for="url" hlmLabel>Url</label>
      <input
        formControlName="url"
        class="w-full"
        name="url"
        hlmInput
        id="url"
        required
      />
    </hlm-form-field>

    <hlm-form-field class="col-span-2">
      <label for="icon" hlmLabel>Icon Url</label>
      <input
        formControlName="icon"
        class="w-full"
        name="icon"
        hlmInput
        id="icon"
      />
    </hlm-form-field>

    <label class="col-span-2 flex items-center" hlmLabel>
      <hlm-checkbox class="mr-2" formControlName="important" />
      Is widely used technology
    </label>
  </div>
  <div class="mt-10">
    <button hlmButton [disabled]="!form.valid" type="submit" class="w-full">
      Submit
    </button>
  </div>
</form>
