<div class="min-h-full">
  <nav class="border-b border-white/15 bg-white/10">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 justify-between">
        <div class="flex">
          <div class="flex shrink-0 items-center">
            <a [routerLink]="['/']">
              <img class="block h-8 w-auto" src="assets/logo.png" />
            </a>
          </div>
          <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
            @for (route of routes; track $index) {
              <a
                class="inline-flex items-center gap-2 border-b-2 border-transparent px-3 pt-1 text-sm font-medium text-muted-foreground hover:border-primary hover:text-white"
                routerLinkActive="!border-primary !text-white"
                [routerLink]="route.link"
              >
                {{ route.title }}
                <hlm-icon [untypedName]="route.icon" />
              </a>
            }
          </div>
        </div>
        <div class="ml-6 flex items-center gap-4">
          @let user = user$ | async;
          {{ user?.name }}
          <button hlmButton (click)="logout()">Log out</button>
        </div>
      </div>
    </div>
  </nav>

  <div class="py-10">
    <main
      class="container m-auto rounded bg-white/10 shadow-lg backdrop-blur-lg"
    >
      <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
        <router-outlet />
      </div>
    </main>
  </div>
</div>
