<div class="flex min-h-full">
  <div
    class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
  >
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <a [routerLink]="['/']">
          <img class="h-10 w-auto" src="assets/logo.png" alt="Cool Frontend" />
        </a>
        <h2 class="mt-8 text-2xl font-bold leading-9 tracking-tight">
          Sign in to your account
        </h2>
      </div>

      <div class="mt-10">
        <form class="space-y-6" [formGroup]="form" (ngSubmit)="login()">
          <front-form-field>
            <label for="email" frontLabel>Email address</label>
            <input
              formControlName="email"
              class="w-full"
              name="email"
              type="email"
              frontInput
              id="email"
              required
            />
          </front-form-field>

          <front-form-field>
            <label for="password" frontLabel>Password</label>
            <input
              formControlName="password"
              name="password"
              type="password"
              class="w-full"
              id="password"
              frontInput
              required
            />
          </front-form-field>

          <button type="submit" frontBtn [disabled]="!form.valid">
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="relative hidden w-0 flex-1 lg:block">
    <img
      class="absolute inset-0 size-full object-cover"
      src="/assets/background.jpeg"
      alt=""
    />
  </div>
</div>
