<header class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-between p-6 lg:px-8">
    <div class="flex lg:flex-1">
      <img class="h-8 w-auto" src="assets/logo.png" />
    </div>

    <div class="hidden items-center lg:flex lg:flex-1 lg:justify-end">
      @if (userData$ | async; as user) {
        <button
          class="flex items-center gap-2"
          [routerLink]="['/', 'admin']"
          variant="secondary"
          size="sm"
          hlmButton
        >
          Go to Console
          <hlm-icon name="ChevronRight" />
        </button>
      } @else {
        <a
          class="flex items-center gap-2"
          [routerLink]="['/', 'login']"
          variant="link"
          size="sm"
          hlmButton
        >
          Log in
          <hlm-icon name="ChevronRight" />
        </a>
      }
    </div>
  </nav>
</header>

<cf-home-hero />

<cf-home-tables />
